@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
}

/* HEADER E NAVBAR */

.box-header {
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 49px;
    height: 49px;
    border-radius: 13px;
    margin-left: 140px;
}

.list-nav {
    display: flex;
}

.list-nav li {
    margin-right: 20px;
}

.list-nav li a {
    font-weight: bold;
}

.btn-login {
    margin-right: 140px;
    padding: 10px;
    width: 100px;
    border-radius: 14px;
    background-color: #F2AC57;
    border: none;
    font-weight: bolder;
}

.btn-login:hover {
    background-color: #F29F80;
}

/* SECTION */

.section-input {
    width: 100vw;
    height: 40vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-action {
    margin-left: 140px;
}


.input-box {
    margin-right: 140px;
    width: 260px;
    height: 200px;
    background-color: #F2AC57;
    border-radius: 33px;
}

.input-box h4 {
    margin-top: 10px;
    text-align: center;
}

.input-cpf {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.input-cpf input {
    width: 200px;
    height: 26px;
    border-radius: 12px;
    border: none;
    outline: 0;
}

.btn-continuar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.btn-continuar button {
    width: 200px;
    height: 30px;
    border-radius: 14px;
    border: none;
}

.btn-continuar button:hover {
    background-color: #F29F80;
}

/* SECTION 2 - MIDDLE */

.section-middle {
    width: 100vw;
    height: 40vh;
    background-color:#f1c8b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */

.footer-paragraph{
    font-weight: bolder;
    margin-left: 140px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.insta-logo{
    width: 49px;
    height: 49px;
    border-radius: 13px;
    margin-left: 140px;
    margin-bottom: 20px;
}

.face-logo{
    width: 49px;
    height: 49px;
    border-radius: 13px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #F29F80;
    height: 150px;
}